body {
    background: #485563;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #29323c, #485563);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29323c, #485563);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
/* .card{
    width: 500px;
    margin: auto;
    background-color: white;
    padding: 20px 10px;
    margin-bottom: 20px;
    border-radius: 50%;
    height: 500px;
    box-sizing: border-box;
    box-shadow: 10px 10px 100px #fbc531;

}
img{
    padding-top: 120px;
} */